# hmc servers
Host knuth
    HostName knuth.cs.hmc.edu
    User deflores
    ForwardAgent yes
    ForwardX11Trusted yes

Host shadowfax
    HostName shadowfax.cs.hmc.edu
    User deflores
    ForwardAgent yes
    ForwardX11Trusted yes

# local network computers
Host laptop
    HostName 10.0.0.21
    User archerd
    ForwardAgent yes
    ForwardX11Trusted yes

Host desktop
    HostName 10.0.0.95
    User archerd
    ForwardAgent yes
    ForwardX11Trusted yes

Host *

