# hmc servers
Host knuth
    HostName knuth.cs.hmc.edu
    User deflores
    ForwardAgent yes
    ForwardX11Trusted yes

Host shadowfax
    HostName shadowfax.cs.hmc.edu
    User deflores
    ForwardAgent yes
    ForwardX11Trusted yes

# cu servers
Host elra
    HostName elra.cs.colorado.edu
    User dafl1278
    ForwardAgent yes
    ForwardX11Trusted yes

# local network computers
Host laptop
    HostName 10.0.0.21
    User archerd
    ForwardAgent yes
    ForwardX11Trusted yes

Host desktop
    HostName 10.0.0.80
    User archerd
    ForwardAgent yes
    ForwardX11Trusted yes

# remote connection to local network
Host remote-desktop
    HostName 73.243.161.158
    User archerd
    ForwardAgent yes
    ForwardX11Trusted yes

Host *

